@model IEnumerable<DoAnDBMS.Models.VIEW_DONGIA>

@{
    ViewBag.Title = "DonGia";
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<h2>DonGia</h2>

<table class="table">
    <tr>
        <th>Mã đơn giá</th>
        <th>Đơn giá điện</th>
        <th>Đơn giá nước</th>
        <th>Trạng Thái</th>
        <th>Ngày áp dụng</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.MADONGIA
            </td>
            <td>
                @item.DONGIADIEN
            </td>
            <td>
                @item.DONGIANUOC
            </td>
            @if (item.TRANGTHAI == true) 
            {
                <td>Đang áp dụng</td>
            }
            else
            { 
                <td>Chua áp dụng</td>
            }
            <td>
                @DateTime.Parse(item.NGAYAPDUNG.ToString()).ToShortDateString()
            </td>
        </tr>
    }
</table>

