@model IEnumerable<DoAnDBMS.Models.VIEW_DayPhong>

@{
    ViewBag.Title = "DayPhong";
    Layout = "~/Views/Share/LayoutPageCanBo.cshtml";
}

<style>
    .text-right {
        margin-bottom: 10px;
    }
</style>

<div class="content">
    <div class="card shadow p-4">
        <h1 class="text-center">Dãy phòng</h1>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Message"]
            </div>
        }
        <p class="text-right">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                Thêm mới dãy phòng
            </button>
        </p>
        <hr />
        <table class="table table-bordered table-striped table-hover">
            <tr class="table table-dark">
                <th>Mã dãy phòng</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MADAYPHONG</td>
                </tr>
            }
        </table>
    </div>
</div>

<!-- Modal Thêm mới -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Thêm mới hóa đơn phòng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Form Thêm mới -->
                @using (Html.BeginForm("ThemDayPhong", "CanBo", FormMethod.Post, new { @class = "form" }))
                {
                    <div class="mb-3">
                        <label for="MaPhong" class="form-label">Mã dãy phòng</label>
                        @Html.TextBox("MaDayPhong", "", new
                   {
                       @class = "form-control",
                       @placeholder = "Nhập mã dãy phòng"
                   })

                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary btn-center">Xác nhận</button>
                }
            </div>
        </div>
    </div>
</div>
